body{
    background-color:#c8e2fb;
}
/* ---- CSS Demo ---- */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /* ---------- responsive element ---------- */
img{
  max-width:100%;
}

  /* ---------- Utility Style ---------- */
  .container{
    max-width:960px;
    width:80vw; 
    margin:40px auto;
  }
  
  /*  --------------- Global Styles -----------------  */

  body{
  font-family: "Gabarito", sans-serif;
  margin:0; 
  }
  
  header.primary {
  background-color: #3b638b;
  color:#ffffff; 
  text-align:center;  
  text-shadow:2px 2px #000000;
  /*long form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;  
  /*Single value short hand*/  
  padding:40px;  
  /* T,R,B,L */
  padding: 20px 40px 20px 40px;  
  /* Two Value Top/Bottom / L/R */
  padding: 20px 40px;  
  }
  
  header.primary .hgroup h1{
    font-size:2.4rem;
    margin:20px 0 0;
    }
  header.primary h1 a{
    color:white;
    text-decoration:none;
  }
  header.primary h2 {
    margin:0;
    font-size: 1.4rem;
  }
  head.primary nav{
    max-width:900px;
    margin:20px auto;
  }
  
  header.primary ul{
    padding:0;
    display:flex;
    flex-direction: row;
    justify-content:Space-around;
  }
  
  header.primary ul li{
    list-style-type:none;
  }
  
  header.primary nav a{
    color:#fff;
    text-decoration:none;
    background-color:black;
    background-color:rgba(0,0,0,.4);
    padding:5px 10px;
    border-radius:20px;
      border: 1px solid #c0c0c0;
    transition:.4s;
  }
  header.primary nav a:hover{
    background-color:rgba(0,0,0,.8);
  }

#content{
  line-height: 1.5;
}

#content h2{
  color:red;
  border-bottom:3px dotted gray;
}

#content h3{
  border-left:6px solid; 
  padding:6px;
}

#blog{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:2rem;
}

#blog .post{
box-shadow: 0 8px 16px rgba(0,0,0,.6);
padding:10px;
border-radius:5px;
font-size:.8rem;
}

#blog figure{
  margin:0;
}

#blog figcaption{
  text-transform:uppercase;
}

#blog header{
  padding:10px;
  font-size:.6rem;
}

#blog header h2{
margin:0;
color:#c0c0c0;
}

#blog a{
  color:#3b638b;
}

#blog .post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.6);
}





  @media screen and (max-width:600px){

    header.primary ul{
      flex-direction: column;
      gap:20px;
      max-width: 250px;
      margin:auto;
    }
 }

 header.primary nav a{
  display-block 
 }