body{
    background-color:#c8e2fb;
}
/* ---- CSS Demo ---- */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  
  /*  --------------- Global Styles -----------------  */
  
  body{
  font-family: "Gabarito", sans-serif;
  margin:0; 
  }
  
  header.primary {
  background-color: #3b638b;
  color:#ffffff; 
  text-align:center;  
  text-shadow:2px 2px #000000;
  /*long form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;  
  /*Single value short hand*/  
  padding:40px;  
  /* T,R,B,L */
  padding: 20px 40px 20px 40px;  
  /* Two Value Top/Bottom / L/R */
  padding: 20px 40px;  
  }
  
  header.primary .hgroup h1{
    font-size:2.4rem;
    margin:20px 0 0;
    }
  header.primary h1 a{
    color:white;
    text-decoration:none;
  }
  header.primary h2 {
    margin:0;
    font-size: 1.4rem;
  }
  head.primary nav{
    max-width:900px;
    margin:20px auto;
  }
  
  header.primary ul{
    padding:0;
    display:flex;
    flex-direction: row;
    justify-content:Space-around;
  }
  
  header.primary ul li{
    list-style-type:none;
  }
  
  header.primary nav a{
    color:#fff;
    text-decoration:none;
    background-color:black;
    background-color:rgba(0,0,0,.4);
    padding:5px 10px;
    border-radius:20px;
      border: 1px solid #c0c0c0;
    transition:.4s;
  }
  header.primary nav a:hover{
    background-color:rgba(0,0,0,.8);
  }