body{
    background-color:white;
}
/* ---- CSS Demo ---- */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /* ---------- responsive element ---------- */
img{
  max-width:100%;
}

  /* ---------- Utility Style ---------- */
  .container{
    max-width:960px;
    width:80vw; 
    margin:40px auto;
  }
  
  /*  --------------- Global Styles -----------------  */

  body{
  font-family: "Gabarito", sans-serif;
  margin:0; 
  }
  
  header.primary {
    background-color: #DFDBE5;
  background-color: #000000;
  color:#ffffff; 
  text-align:center;  
  text-shadow:2px 2px #000000;
  /*long form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;  
  /*Single value short hand*/  
  padding:40px;  
  /* T,R,B,L */
  padding: 20px 40px 20px 40px;  
  /* Two Value Top/Bottom / L/R */
  padding: 20px 40px;  
  }
  
  header.primary .hgroup h1{
    font-size:2.4rem;
    margin:20px 0 0;
    }
  header.primary h1 a{
    color:white;
    text-decoration:none;
  }
  header.primary h2 {
    margin:0;
    font-size: 1.4rem;
  }
  head.primary nav{
    max-width:900px;
    margin:20px auto;
  }
  
  header.primary ul{
    padding:0;
    display:flex;
    flex-direction: row;
    justify-content:Space-around;
  }
  
  header.primary ul li{
    list-style-type:none;
  }
  
  header.primary nav a{
    color:#fff;
    text-decoration:none;
    background-color:black;
    background-color:rgba(0,0,0,.4);
    padding:5px 10px;
      border: 1px solid #c0c0c0;
    transition:.4s;
  }
  header.primary nav a:hover{
    background-color:rgba(0,0,0,.8);
  }

#content{
  line-height: 1.5;
}

#content h2{
  color: black;
  border-bottom:3px solid gray;
}

#content h3{
  border-left:6px solid; 
  padding:6px;
}

#blog{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:2rem;
  border-bottom: 1px dotted gray; 
  padding-bottom: 2rem;
  border-top: 1px;
  flex-wrap:wrap;
}

#blog h2 {
  flex:0 0 100%;
  margin:0;
  text-align:center;
}

#blog .post{
  box-shadow: 0 4px 8px rgba(0,0,0,.6);
  padding: 10px;
  border-radius:4px;
  font-size:.8rem;
  transition:.5s;
  flex:1;
}

#practice h2{
  color: #1d0e92;
  border-bottom: 1px solid #c0c0c0;
}

table{  
  border: 1px solid #c0c0c0;
  width: 100%;
  margin:20px 0;
}
caption{
  font-weight:bold;
  margin:10px;
}

th{
  background-color: #172635;
  color:#ffffff;
  padding:7.5px;
}
tr:nth-child(even){
  background-color:gray;
}

tr:hover{
  background-color:gray;
}

td:nth-child(n+2){
  text-align:right;
}

td{
  border: 3px solid black;
  padding:5px;
}


#blog figure{
  margin:0;
}

#blog figcaption{
  text-transform:uppercase;
}

#blog header{
  padding:10px;
  font-size:.6rem;
}

#blog header h2{
margin:0;
color:#c0c0c0;
}

#blog a{
  color:#3b638b;
}

#blog .post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.6);
}

#practice ol{
  list-style-type:decimal;
}

#practice ul ul{
  list-style-type:square;
}

dl dt{
  font-weight:bold;
}

dl dd{
  margin:0;
}

dd + dt{
  margin-top:1rem;
}

#practice blockquote{
  border: 4px double #c0c0c0;
  padding: 20px 40px;
  margin: 40px 80px;
  border-radius: 30px 0;
  background-color: #2515d4;
  color: #ffffff;
  line-height: 1.4;
  text-shadow: 1px 1px #000;
}

#practice blockquote cite{
  display:block;
  text-align:right;
  font-size:.7rem;
  margin-top:1rem;
}

aside[role="complementary"]{
  background-color: rgb(43, 53, 116);
  color: white;
  padding: 2rem;
}

aside .container{
display:flex;
flex-direction:row;
gap: 20px;
}

aside .container a{
display:block;
color:white;
text-align:right;
margin-top: 2rem;
}

aside .widget footer{
  display:none;
}

#colophon{
  background-color: #000000;
;
  text-align:center;
  padding: 5px;
  color:white;
  font-size:1.5rem;
}

#practice h2{
  color: #82b5e5;

}



















  @media screen and (max-width:600px){

    header.primary ul{
      flex-direction: column;
      gap:20px;
      max-width: 250px;
      margin:auto;
    }
 }

 header.primary nav a{
  display:block;
 }